<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ obj.name }} </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="تبديل التنقل">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {% include "partials/nav.html" %}
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="جستجو" aria-label="جستجو">
          <button class="btn btn-outline-success" type="submit">جستجو</button>
        </form>
      </div>
    </div>
  </nav>